*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* fonts */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Playfair Display", serif;

  /* font sizes */
  --superscript: 1.125rem;
  --title: 3.75rem;
  --headline: 2.25rem;
  --body-text: 1.3125rem;

  /* colors */
  --beige: #f3eed9;
  --dark-brown: #824936;
  --black: #222c2a;
}

html {
  font-family: var(--primary-font);
  font-size: 16px;
}

img {
  width: 100%;
}

p {
  line-height: 1.5em;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--beige);

  min-height: 660px;
}

.container {
  width: min(1128px, 80%);
}

.hero__text-area {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.hero__superscript {
  font-size: var(--superscript);
  text-transform: uppercase;
  letter-spacing: 0.4em;
  margin-bottom: 1em;
}

.hero__title {
  color: var(--dark-brown);
  font-family: var(--secondary-font);
  font-size: var(--title);
  line-height: 1em;
}

.main-content {
  padding: 5em 0;
}

.headline {
  font-family: var(--secondary-font);
  font-size: var(--headline);
  font-weight: 900;
  line-height: 0.9em;
}

.main-content__headline {
  color: var(--beige);
}

.main-content__top .main-content__headline {
  color: var(--dark-brown);
  padding-bottom: 1.5em;
  text-align: center;
}

.main-content__mid .main-content__headline,
.main-content__bottom .main-content__headline {
  margin-bottom: 1em;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col--left {
  width: 45%;
}

.col--right {
  width: 45%;
}

.main-content__mid {
  background: var(--black);
  color: white;
}

.main-content__bottom {
  background: var(--dark-brown);
  color: white;
}

.main-content .container {
  margin: 0 auto;
}
